<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <p> Olá</p>
    
    <h1>
        Bem-vindo ao Banco central do Rubem
    </h1>

    {% if logado %}
        <p>Olá, Saulo</p>

    {% else %}
        <a class="btn btn-primary" href="#">clique aqui para fazer o login</a>
    {% endif %}

    <p>Foram registradas {{ n_chaves }} chaves pix</p>

    <p>Lista de países que já aceitam o Pix do Brasil:</p>
    <ul class="list-group">
    {% for pais in paises %}
        <li class="list-group-item">{{ pais }}</li>
    {% endfor %}
    </ul>
</body>
</html>
